# Ignore big data reference files
Pi-Dec-Chudnovsky_01.txt
Pi-Dec-Chudnovsky_02.txt

# Ignore programs actual output file
computed_pi.txt

# Ignore build artifacts
*.o
calculate_pi

# VS Code settings
.vscode/

# Other common junk
*.log

# Temporary GPU test files
GPU

# Old files folder
old

#Ignore Downloads
Downloads/

# Windows Cross Compiler
mingw-libs/

# Do not track windows executable in Git
# Add this manually to the archive each time it is updated.
calculate_pi.exe
